%td
  - if option.owned_by?(current_user) || option.tapster.options.any? {|o| o.votes.map(&:user).include?(current_user) }
    .option.button.admin
      = "#{option.text}&nbsp;(#{option.votes.count})".html_safe
  - else
    .option.button
      =form_tag(:method => :post, :url => "/tapsters/#{option.tapster.identifier}/options/#{option.id}/votes?login_token=#{current_user.login_token}") do |f|
        =submit_tag option.text

