%td
  - if option.owned_by?(current_user)
    .option.button.admin
      = "#{option.text}&nbsp;(#{option.votes.count})".html_safe
  - else
    .option.button
      =link_to(option.text, "/tapsters/#{option.tapster.identifier}/options/#{option.id}/votes", :method => 'post')

