-content_for :meta do
  %meta{ :content => "2", 'http-equiv' => "refresh" }
%h1 Request Log
%table
  %tbody
    - @requests.each do |request|
      %tr
        %td= link_to(request.method, request, 'data-target' => "request_#{request.id}")
        %td= link_to(request.fullpath, request, 'data-target' => "request_#{request.id}")
        %td{ :id => "request_#{request.id}"}
