!!! 5
%html
  %head
    %meta{ :name => "viewport", :content => 'width=device-width', 'initial-scale' =>"1.0"}
    %title= "Tapster - Manage the information of your friends"
    =yield :meta
    =javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    =javascript_include_tag :application
    =stylesheet_link_tag 'http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.css'
    =stylesheet_link_tag :application
  %body
    %div{ 'data-facebook-app-id' => ENV['FACEBOOK_APP_ID'] }
    .header
      = link_to('Tapster', root_path, :class => 'logo')
      .left-header
        - if logged_in?
          (
          = link_to(@tapsters.size, tapsters_path)
          )

      .right-header
        - if logged_in?
          = link_to(current_user.try(:name), user_path)
          = '::'
          = link_to('Log out', '/logout')
        - else
          #sign_in
            = image_tag('fb_login_icon.gif')
    #container
      = yield
